# Ignore everything but git files, .go files that are not
# .pretty.go or .pptype.go files, and files named
# test_configuration.txt
*.*

!.git*

!*.go
*.pretty.go
*.pptype.go

!test_configuration.txt
